<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Javascript-optional AJAX library featuring declarative, REST-ful bindings">
  <meta name="author" content="">
  <link rel="shortcut icon" href="./img/icon.png">

  <title>Intercooler.JS - The Javascript-optional AJAX library</title>

  <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400italic,400" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
    rel="stylesheet" type="text/css">
  <link href="/css/site.css" rel="stylesheet" type="text/css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/google-code-prettify/run_prettify.js?lang=css&skin=desert"></script>
  <script>
      $(document).ready(function(){
          // Add prettyprint class to pre elements
          $('pre').addClass('prettyprint');
      }); // end document.ready
  </script>
  <script type="text/javascript" src="/js/intercooler.js"></script>
</head>

<body>
<a href="https://github.com/LeadDyno/intercooler-js">
  <img style="z-index:10000; position: fixed; top: 0; right: 0; border: 0;width:149px;height:149px"
       src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png"
       alt="Fork me on GitHub">
</a>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Intercooler.JS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% active intro %}"><a href="/intro.html">Introduction</a></li>
            <li class="dropdown {% active attributes %}">
              <a href="/docs.html" class="dropdown-toggle" data-toggle="dropdown">Attributes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Source Attributes</li>
                <li><a href="/attributes/ic-src.html">ic-src</a></li>
                <li><a href="/attributes/ic-style-src.html">ic-style-src</a></li>
                <li><a href="/attributes/ic-attr-src.html">ic-attr-src</a></li>
                <li><a href="/attributes/ic-append-from.html">ic-append-from</a></li>
                <li><a href="/attributes/ic-prepend-from.html">ic-prepend-from</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Action Attributes</li>
                <li><a href="/attributes/ic-post-to.html">ic-post-to</a></li>
                <li><a href="/attributes/ic-put-to.html">ic-put-to</a></li>
                <li><a href="/attributes/ic-delete-from.html">ic-delete-from</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Meta Attributes</li>
                <li><a href="/attributes/ic-poll.html">ic-poll</a></li>
                <li><a href="/attributes/ic-deps.html">ic-deps</a></li>
                <li><a href="/attributes/ic-target.html">ic-target</a></li>
                <li><a href="/attributes/ic-include.html">ic-include</a></li>
                <li><a href="/attributes/ic-limit-children.html">ic-limit-children</a></li>
                <li><a href="/attributes/ic-transition.html">ic-transition</a></li>
                <li><a href="/attributes/ic-transition.html">ic-action</a></li>
                <li><a href="/attributes/more-meta.html"><em>more...</em></a></li>
              </ul>
            </li>
            <li class="{% active responses %}"><a href="/responses.html">Responses</a></li>
            <li class="{% active dependencies %}"><a href="/dependencies.html">Dependencies</a></li>
            <li class="{% active extending %}"><a href="/extending.html">Extending</a></li>
            <!--<li class=""><a href="/#">Examples</a></li>-->
            <li class="{% active download %}"><a href="/download.html">Download</a></li>
          </ul>
        </div>
      </div>
    </div>  </div>
</div>

<div class="body-wrapper">
  {{content}}
</div>

<div class="container">
  <hr>
  <footer>
    <p>
      &copy; <a href="http://intercoolerjs.org">IntercoolerJS.org</a> 2013-2014
      <span class="pull-right"><em>Sponsored By <a href="http://www.leaddyno.com">LeadDyno</a></em></span>
    </p>
  </footer>
</div>
</body>
</html>
