<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/Intercooler_CMYK_noType_ico.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Simple, declarative AJAX using HTML attributes">
  <meta name="author" content="">
  <link rel="shortcut icon" href="./img/icon.png">

  <title>intercooler.js - Simple, declarative AJAX using HTML attributes</title>

  <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400italic,400" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
    rel="stylesheet" type="text/css">
  <link href="/css/site.css" rel="stylesheet" type="text/css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/google-code-prettify/run_prettify.js?lang=css&skin=desert"></script>
  <script>
      $(document).ready(function(){
          // Add prettyprint class to pre elements
          $('pre').addClass('prettyprint');
      }); // end document.ready
  </script>
  <script type="text/javascript" src="/release/intercooler-0.3.0.js"></script>
</head>

<body>

    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">intercooler<span class="intercooler-dot">.</span><span class="intercooler-js">js</span></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{% active why %}"><a href="/why.html">Why?</a></li>
              <li class="{% active intro %}"><a href="/intro.html">Intro</a></li>
              <li class="dropdown {% active attributes %}">
                <a href="/docs.html" class="dropdown-toggle" data-toggle="dropdown">Attributes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Common Attributes</li>
                  <li><a href="/attributes/ic-src.html">ic-src</a></li>
                  <li><a href="/attributes/ic-post-to.html">ic-post-to</a></li>
                  <li><a href="/attributes/ic-target.html">ic-target</a></li>
                  <li><a href="/attributes/ic-poll.html">ic-poll</a></li>
                  <li class="divider"></li>
                  <li><a href="/attributes/all.html">View All Attributes</a></li>
                </ul>
              </li>
              <li class="dropdown {% active api %}">
                <a href="/docs.html" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/responses.html">HTTP Responses</a></li>
                  <li><a href="/dependencies.html">Dependencies</a></li>
                  <li><a href="/extending.html">Javascript API</a></li>
                </ul>
              </li>
              <li class="dropdown {% active api %}">
                <a href="/docs.html" class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/tutorials">Overview</a></li>
                  <li class="divider"></li>
                  <li><a href="/tutorials/crud.html">Tutorial 1: AJAX-powering A Rails CRUD UI</a></li>
                  <li><a href="/tutorials/flash.html">Tutorial 2: Making The Rails Flash IntercoolerJS Friendly</a></li>
                  <li><a href="/tutorials/infinite.html">Tutorial 3: Infinite Scroll</a></li>
                  <li><a href="/tutorials/click_to_load.html">Tutorial 4: Click To Load</a></li>
                  <li><a href="/tutorials/bulk_ops.html">Tutorial 5: Bulk (Table) Operations</a></li>
                  <li><a href="/tutorials/inline_validation.html">Tutorial 6: Inline Validations</a></li>
                </ul>
              </li>
              <li class="{% active tutorials %}"><a href="/tutorials/"></a></li>
              <li class="{% active download %}"><a href="/download.html">Download</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/LeadDyno/intercooler-js"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="body-wrapper">
  {{content}}
</div>

<div class="container">
  <hr>
  <footer>
    <p>
      &copy; <a href="http://intercoolerjs.org">IntercoolerJS.org</a> 2013-2014
      <span class="pull-right"><em>Sponsored By <a href="http://www.leaddyno.com">LeadDyno</a></em></span>
    </p>
  </footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-20364649-2', 'intercoolerjs.org');
  ga('send', 'pageview');
</script>
</body>
</html>
