.body-wrapper {
  margin-top: 50px !important;
}

h1, h2, h3, h4 {
  font-family: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  padding-top: 20px;
  font-family: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16pt;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

li {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  margin-top: 4px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

.red {
  color: red;
}

.live-demo {
  position: relative;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 28px;
  margin: 36px;
}

.live-demo:before {
  position: absolute;
  content: "Live Demo";
  font-weight: bold;
  top: -15px;
  left: 10px;
  padding: 2px 4px;
  background-color: white;
}

pre {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}